<div>
  <div class="work1" (click)="backinshow()">
    <div class="header1">
      <label>Create</label>
    </div>
    <div class="">
      
    <div class="form">
      <form (ngSubmit)="addPost()">
        <div class="form-group area">
          <img src="../../../../../assets/images/karim.jpg" alt="">
          <input type="text" class="form-control" name="post" [(ngModel)]="post.post" placeholder="What's on your mind, Karim?">
        </div>
        <button class="btn btn-success" *ngIf="post.post">Post</button>
      </form>
    </div>
    </div>
  </div>
  <div class="work" *ngFor="let post of posts" >
    <div class="header">
      <img src="../../../../../assets/images/karim.jpg" alt="">
      <h4>{{post.user.firstname}} {{post.user.surname}}</h4>
    </div>
    <button class="dot">...</button>
    <div class="post">
      <p>{{post.post}}</p>
      <br>
      
      <div class="like">
        <i class="fa fa-thumbs-o-up" (click)="addLike(post.id , post.user)"><label for="like">Like</label></i>
        <i class="fa fa-comment-o" (click)="showDialog(post.id , post.user)"><label for="comment">Comment</label></i>
        <i class="fa fa-share"><label for="share">Share</label></i>
      </div>
    </div>
    <div class="addComment">
      <img class="imgComment" src="../../../../../assets/images/karim.jpg" alt="">
      <form (ngSubmit)="showDialog(post.id , post.user)">
        <input type="submit" value="Add Comment">
      </form>
    </div>
      <div class="show" *ngIf="show">
        <div class="header">
          <img src="../../../../../assets/images/karim.jpg" alt="">
          <h4>{{post.user.firstname}} {{post.user.surname}}</h4>
        </div> 
        <i class="fa fa-remove re" (click)="showDialog(post.id , post.user)"></i>
        <div class="post">
          <p>{{currentPost.post}}</p>
        </div>
        <p class="li"><i class="fa fa-thumbs-o-up"></i>  <span>  {{numLikes}} persons</span></p>
        <hr>
        <div class="allCom">
          <div class="ourcomment" *ngFor="let comment of comments">
            <img class="imgComment" src="../../../../../assets/images/karim.jpg" alt="">
            <h5>{{comment.user.firstname}} {{comment.user.surname}}</h5>
            <i class="fa fa-remove"></i>
            <p>{{comment.comment}}</p>
          </div>
        </div>
        <div class="addComment">
          <img class="imgComment" src="../../../../../assets/images/karim.jpg" alt="">
          <form (ngSubmit)="addComment(currentPost.id , post.user)">
            <input type="text" name="comment" [(ngModel)]="comment.comment" placeholder="Enter your comment">
          </form>
        </div>
      </div>
  </div>
  
</div>